.About-box {
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 2s ease-out;
}

.About-para {
  width: 50%;
}

.About {
  /* background-color: maroon; */
  width: inherit;
  display: flex;
  /* justify-content: space-around; */
  margin: 12%;
}

.About-title {
  margin-top: 0;
  color: #74F9D9;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 0;
}


@keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}