
.Modal {
  margin-top: -10rem;
  position: fixed;
  width: 105%;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.3s ease-out;
}

.Modal-layout {
  /* display:  */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-top: 5rem;
  width: 100%;
  height: 75rem;
  background: rgba(255, 255, 255, 0.221);
}

.Modal-box {
  margin-top: 5rem;
  height: 50%;
  width: 40rem;
  background: white;
}

.Slideshow {
  display: flex;
  height: 50%;
  /* width: 100%; */
  /* overflow-x: auto; */
  /* background: yellow; */
}

.Slideshow-img {
  /* position: absolute; */
  min-width: 100%;
  /* width: 200rem; */
  /* height: inherit; */
}

.Slideshow-arrows {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-items: center;
  text-align: center;
}

.adjust {
  background: rgba(128, 128, 128, 0.42);
  cursor: pointer;
  border-radius: 50%;
  /* margin-left: 1rem; */
  font-size: 1.5rem;
}

.opposite {
  /* margin-right: 1rem; */

  transform: rotate(180deg);
  background: rgba(128, 128, 128, 0.42);
  /* border: 1px solid black; */
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  /* width: 3rem; */
}

.Slideshow-details {
  /* position: relative; */
  height: 40%;
  color: black;
  font-size: 2rem;
  margin-left: 1rem;
}

.SlideShow-title {
  height: 4rem;
  /* background-color: blue; */
  /* display: flex;
  flex-direction: column;
  margin: 0;
  background: blue; */
}

.Slideshow-details-sub {
  color: #919498;
  font-size: 1rem;
  margin-top: -2.2rem;
}

.hr {
  border: 0.3px solid rgb(225, 225, 225); 
  width: 95%;
  margin-left: 0;
}

.Slideshow-description {
  font-size: 1rem;
}

.Slideshow-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: blue; */
}

.Slideshow-viewsite {
  border: none;
  border-radius: 5%;
  color: black;
  cursor: pointer;
  width: 10rem;
  height: 2rem;
  background: rgba(255, 255, 19, 0.899);
}

.leave-modal {
  color: #919498;
  cursor: pointer;
  line-height: 0;
  margin-right: 1rem;
  /* background-color: blue; */
}

.Loader {
  text-align: center;
  height: 50%;
  width: 100%;
  color: black;
}