body {
  /* height: 100vh; */
  font-weight: 300;
  font-family: Lato,'Montserrat', sans-serif;
}

html {
  /* box-sizing: border-box; */
  width: 100%;
  height: 100vh;
  clip: auto;
  overflow: hidden;
  /* font-size: 62.5%; */
  
}