.Skills {
  /* background-color: maroon; */
  width: 100%;
  height: 55rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10%;
  position: relative;
}



.Skills-box  {
  margin-bottom: 5%;

  width: 50%;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 3s ease-out;
  /* background-color: blue; */
}

.Skills-title {
  color: #74F9D9;
  font-size: 4rem;
  /* font-weight: 400; */
  margin-bottom: 0;
  -webkit-animation-duration: 1s;
}

.icon {
  -webkit-animation-duration: 1.5s;
}

.Skills-text {
  width: 75%;
}

.Project {
  /* margin-top: 4rem; */
  margin-bottom: 5%;

  margin-left: -10%;
  margin-right: 10%;
  width: 40%;
  /* background-color: blue; */
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@media only screen and (max-width : 768px) {
  .about-Larrow {
    display: none;
  }

  .about-arrows {
    display: none;
  }
  /* .Home-title {
      margin-left: 0;
  } */
}


@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
