 /* .active {
  text-decoration: none;
  color: blue;
} */

a:hover {
  color: red;
} 

body {
  position: fixed;
  overflow: hidden;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

html {
  height: 100vh;
  box-sizing: border-box;
  font-size: 62.5%;
  
}