.Home {
  width: 100%;
  height: 55rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  /* margin-left: 10%; */
  font-size: 3rem;
  font-weight: 300;
}

@media only screen and (max-width : 768px) {

  .Home {
    margin-left: 0;
    justify-content: center;

  }
}


.Home-title {
  z-index: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5rem;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 1.5s ease-out;
}
.Home-box {
  user-select: none;
  position: absolute;
  top: -100%;
  color: rgba(128, 128, 128, 0.077);
  font-size: 50rem;
  /* background-color: red; */
}

.Home-subtext {
  font-size: 1rem;
  display: flex;
  margin-top: -1rem;
  color: rgb(159, 159, 159); 
}

.Contact-button {
  color: white;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  width: 10rem;
  height: 2rem;
  background-color: #74D9D9;
}

.nav-arrows {
  position: absolute;
  top: 42.5%;
  left: 92%;
  font-size: 2.5rem;
  color: white;
}

.pulse {
  animation: pulse 0.8s infinite; 
}


/* @media only screen and (max-width : 1024px) {
  padding: 1rem 10rem;
}  */
@media only screen and (max-width : 768px) {
  .nav-arrows {
    display: none;
  }
  .Home-title {
      margin-left: 0;
  }
}



@keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}