.Contact {
  width: 100%;
  height: 55rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  position: relative;
  /* background-color: blue; */
}
.Contact-Larrow {
  position: absolute;
  top: 50%;
  left: -8%;
  color: white;
  font-size: 2.5rem;
}

.Contact-layout {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.Contact-title {
  font-size: 3rem;
  color: #74F9D9;
  /* background-color: white; */
}

.Contact-subtext {
  margin-top: -3rem;
  /* background-color: red; */
}

.Contact-Form {
  /* background: blue; */
  display: flex;
  flex-direction: column;
}

.Contact-Name {
  color: white;
  width: 40%;
  height: 2rem;
  padding: 0.1rem;
  background: #37393B;
  border: none;
  margin-bottom: 1rem;
  margin-right: 3%;
}

.Contact-Subject {
  color: white;
  width: 83%;
  height: 2rem;
  padding: 0.1rem;
  background: #37393B;
  border: none;
  margin-bottom: 1rem;
}

.Contact-Email {
  color: white;
  width: 40%;
  height: 2rem;
  padding: 0.1rem;
  background: #37393B;
  border: none;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.Contact-message {
  color: white;
  width: 83%;
  height: 10rem;
  padding: 0.1rem;
  background: #37393B;
  border: none;
  margin-bottom: 4rem;
}

.Contact-submit {
  color: #74F9D9;
  background: none;
  border: 0.7px solid #74F9D9;
  width: 20%;
  margin-top: -5rem;
  height: 2.5rem;
}