.Navigation {
  width: 100%;
  height: 2rem;
  background-color: #181818;
  display: flex;
  justify-content: space-around;
}

.Navigation-links:hover {
  color: #74F9D9;
  text-decoration: none;
}

.Navigation-logo {
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
}

.Navigation-icons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  align-items: center;
}

.active {
  color: #74F9D9;
}
/* #74F9D9 */
a {
  color: #47494b;
  text-decoration: none;
}