.Navigation {
  width: 100%;
  height: 2rem;
  background-color: #181818;
  display: flex;
  justify-content: space-around;
}

.Navigation-show {
  width: 5rem;
}

.Navigation-hover {
  color: #74F9D9;
  display: none;
}
.Navigation-links {
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}
.Navigation-show:hover .Navigation-hover {
  display: block;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}

.Navigation-show:hover .Navigation-links {
  display: none;
}


.Navigation-logo {
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
}

.Navigation-icons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  align-items: center;
}

.active {
  color: #74F9D9;
}
/* #74F9D9 */
a {
  color: #47494b;
  text-decoration: none;
}

@-webkit-keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@-moz-keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@-o-keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}

@keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}