.Sidebar {
  height: 60rem;
  width: 3rem;
  background-color: rgb(48, 48, 48);
  /* background-color:rgba(174, 174, 174, 0.488); */

  border-right: 0.5px solid rgba(255, 255, 255, 0.235);
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* .slideout {
  margin-left: -1rem;
  margin-bottom: 10rem;
} */

/* .slideout span {
  display: block;
  width: 2rem;
  height: 4px;
  background-color: rgba(124, 124, 124, 0.336);
  margin: 5px 2rem;
  transition: 0.8s;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.8s ease-out;
} */


/* .Sidebar:hover .slideout {
  display: flex;
} */

.bar {
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2rem;
  color: black;
  height: 30%;
  /* background-color: red; */
  margin: 0 0.5rem;
  margin-bottom: 10rem;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.8s ease-out;
}

.bar {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  /* font-size: 2rem; */
  /* margin-left: -10rem; */
  /* display: none; */
}

.bar a {
  font-size: 1.5rem;
  /* color: #bababa; */
  color: white;
}

.one {
  cursor: pointer;
  margin-left: 0.3rem;

}

.two {
  cursor: pointer;
}

.three {
  cursor: pointer;

}