.App {
  display: flex;
  flex-direction: column;
  /* height: 100vh */
}

.Container {
  background-color: #222;
  color: white;
  height: 60rem;
}

.Home-title {
  margin: 12%;
  font-size: 3rem;
  font-weight: 300;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  margin-top: 25rem;
  justify-content: center;
}

.Contact-button {
  cursor: pointer;
  width: 10rem;
  height: 2rem;
  background-color: yellow;
}
