.Home-title {
  margin: 12%;
  margin-top: 0;
  font-size: 3rem;
  font-weight: 300;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 1.5s ease-out;
}

.Home-subtext {
  font-size: 1rem;
  display: flex;
  margin-top: -1rem;
  color: rgb(159, 159, 159); 
  /* background-color: red; */
}

.Contact-button {
  font-size: 0.8rem;
  cursor: pointer;
  width: 10rem;
  height: 2rem;
  background-color: yellow;
}


@keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}