.Projects {
  width: inherit;
  display: flex;
  flex-flow: row wrap;
  /* height: inherit; */
  justify-content: center;
  /* width: 80rem; */
  margin: 5rem auto;
  /* background-color: red; */
}

.project-position:hover .project-box {
  display: none;
}

.project-position:hover .project-onhover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.project-position {
  /* background-color: yellow; */
}

.project-odd {
  margin-bottom: 30rem;

}

.project-box {
  max-width: 30rem;
  /* max-height: 16.4rem; */
  cursor: pointer;
  /* border: 0.4px solid rgb(220, 219, 219); */
  margin-right: 1rem;
  margin-bottom: 0;
}

.project-position:hover {
  /* color: blue; */
}

.project-onhover {
  display: none;
  color: black;
  width: 30rem; 
  margin-right: 1rem;
  height: 16.4rem;
  background-color: rgb(255, 255, 255);
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 1s ease-out;
}

.project-stack {
  color: grey;
  font-size: 1rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
}
.project-stack span {
  font-size: .7rem;
}

.Slideshow-view {
  display: flex;
}

.project-button {
  border: 0.3px solid blue;
  width: 8rem;
  height: 2rem;
  cursor: pointer;
}

.first-pro {
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 1s ease-out;
}

.second-pro {
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 1s ease-out;
}

.third-pro {
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 1s ease-out;
}
